.list {
    position: relative;
}

.list-item {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s ease;
}

a{
    transition: all .2s ease-in;
    text-decoration: none;
    color:#323649;
}
a:hover{
    color:#726983;
}